#nav{
    display: block;
    background-color: #4889E4;
    padding: 10px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#nav img{
    width: 50px;
    height: 50px;
    background-color: grey;
}
#nav h1{
    margin: 7px;
}
#nav h1 a{
    color: white;
    margin: 7px;
    font-weight:lighter;
    font-size: 30px;
}
#nav h1 a:hover{
    text-decoration: none;
    border-bottom: 1px solid white;
}
#dropdown{
    background: #fff;
    border-radius: 2px;
    height: 300px;
    margin: 1rem;
    z-index: 10;
    width: 300px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: none;
    position: absolute;
    left:50%;
    transform: translate(-50%, -7px);
}
#dropdown h4{

}

#banner{
  background-color: #1C4893;
  color:white;
  text-align: center;
}
#banner p{
  font-size: 12px;
  margin: 7px;
}
#banner p a{
  color:white;
  text-decoration: underline;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #dropdown {
        transform: translate(-100%, -5px);
    }
}


