body{
    background-color: #F1F2F3;
}

h4{
    margin-top: 40px;
    margin-bottom: 15px;
    color: #707070;
    font-size: 20px;
}

.listing, .form, #offer, #login-button{
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #707070;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.heading{
    font-style: italic;
    padding: 20px;
    border-radius: 1px;
    background-color: #328CE5;
    color:white;
}
.listing{
    margin-top: 1px;
    padding: 0;
}
.listing .tab:hover {
    color: #1C4893;
}
.listing .mainInfo{
    padding: 20px;
}
.secondaryInfoHeader{
    display: none;
    font-style: italic;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #C2C2C2;
    background-color: #F6F6F6;
    border-bottom: 2px solid ##C2C2C2;
    border-top: 2px solid ##C2C2C2;
}
.secondaryInfo{
    display: none;
    padding: 20px;
    color: #707070;
    background-color: #F6F6F6;
}

.form{
    background-color: #FFFFFF;
}
.form div{
    padding: 10px;
}
.form input{
    border: 1px solid #C6C6C6;
    border-style: none;
    border-bottom-style: solid;
    width: 100%;
}


.button{
    text-align: center;
    display: block;
    width:100%;
    padding: 10px;
    background-color: #EC6434;
    color: white;
    font-style: italic;
    border: none;
    border-color: #EC6434;
    border-width: 2px;
    border-radius: 2px;
    font-size: 17px;
}
.button:hover{
    text-decoration: none;
    background-color: white;
    color: #EC6434;
    font-style: italic;
}
#profileInfoContainer{
    text-align: center;
}
#profileText {
    padding-top: 50px;
}

#offerContainer{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}
.offer{
    top:5vh;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-md-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
    #profileText {
        padding-top: 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

}
