body{
    background-image: url("/img/login_back.jpg");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: left top; 
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    text-align: center;
}
#login-container{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
#login-container h2{
    padding: 0;
    margin-bottom: 20px;
}
#login-container a{
    margin-top: 30px;
    margin-bottom: 30px;
}
